pipeline/Historical Stat Data Ingestion.json
{
	"name": "Historical Stat Data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Get Match ID",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/@{pipeline().parameters.puuid}/ids?startTime=@{pipeline().parameters.startTime}&endTime=@{pipeline().parameters.endTime}&type=@{pipeline().parameters.matchType}&start=0&count=@{pipeline().parameters.batch_size}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set JsonArrayOutput",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Match ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MatchIdJsonArrayOutput",
					"value": {
						"value": "@json(activity('Get Match ID').output.response)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"puuid": {
				"type": "string",
				"defaultValue": "oDBBv1pj4GZINaHiNDtFqKUtL9qDDbGki0CKdsYAi6PvqKHg6zi2E3bh8N162f4IEkKKHDuMXruBIg"
			},
			"startTime": {
				"type": "int",
				"defaultValue": 1662004800
			},
			"endTime": {
				"type": "int",
				"defaultValue": 1738558799
			},
			"batch_size": {
				"type": "int",
				"defaultValue": 100
			},
			"matchType": {
				"type": "string",
				"defaultValue": "ranked"
			},
			"api_key": {
				"type": "securestring"
			}
		},
		"variables": {
			"MatchIdJsonArrayOutput": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}