pipeline/Historical Stat Data Ingestion.json
{
	"name": "Historical Stat Data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup Last Starting Index",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "lastRun",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Start Time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Last Starting Index",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "computedStartIndex",
					"value": {
						"value": "@coalesce(activity('Lookup Last Starting Index').output.firstRow.lastRunTime, pipeline().parameters.startIndex)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"puuid": {
				"type": "string",
				"defaultValue": "oDBBv1pj4GZINaHiNDtFqKUtL9qDDbGki0CKdsYAi6PvqKHg6zi2E3bh8N162f4IEkKKHDuMXruBIg"
			},
			"batch_size": {
				"type": "int",
				"defaultValue": 100
			},
			"startTime": {
				"type": "int",
				"defaultValue": 1662004800
			},
			"endTime": {
				"type": "int",
				"defaultValue": 1738558799
			},
			"startIndex": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"computedStartIndex": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}