lolytics-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "lolytics-adf"
		},
		"AzureBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlob'"
		},
		"riot_rest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://americas.api.riotgames.com/lol/match/v5/matches/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Historical Stat Data Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Save Match ID to Blob",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "For Each Batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {
								"x-ms-version": "2017-11-09",
								"x-ms-blob-type": "BlockBlob"
							},
							"url": "https://lolyticsstorage.blob.core.windows.net/lolytics/bronze/match_id/match_id.json",
							"body": {
								"value": "@variables('MatchIDArray')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					},
					{
						"name": "For Each Match ID",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Save Match ID to Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('MatchIdJsonArrayOutput')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Append to AggregatedMatchData",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Get Match Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "AggregatedMatchData",
										"value": {
											"value": "{\n  \"metadata\": @{activity('Get Match Data').output.metadata},\n  \"info\": @{activity('Get Match Data').output.info}\n}\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get Match Data",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "https://americas.api.riotgames.com/lol/match/v5/matches/@{item()}?api_key=@{pipeline().parameters.api_key}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Save Match Data to Blob",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "For Each Match ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {
								"x-ms-version": "2017-11-09",
								"x-ms-blob-type": "BlockBlob"
							},
							"url": "https://lolyticsstorage.blob.core.windows.net/lolytics/bronze/match_data/match_data.json",
							"body": {
								"value": "@variables('AggregatedMatchData')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com/"
							}
						}
					},
					{
						"name": "For Each Batch",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(0, 5)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Get Match ID",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/@{pipeline().parameters.puuid}/ids?startTime=@{pipeline().parameters.startTime}&endTime=@{pipeline().parameters.endTime}&type=@{pipeline().parameters.matchType}&start=@{mul(item(), pipeline().parameters.batch_size)}&count=@{pipeline().parameters.batch_size}&api_key=@{pipeline().parameters.api_key}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set newMatchIdArray",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get Match ID",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "newMatchIdArray",
										"value": {
											"value": "@json(activity('Get Match ID').output.response)\n\n\n\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Merge Match ID Array",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set newMatchIdArray",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "AggregatedMatchId",
										"value": {
											"value": "@union(variables('newMatchIdArray'), variables('MatchIDArray'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"puuid": {
						"type": "string",
						"defaultValue": "oDBBv1pj4GZINaHiNDtFqKUtL9qDDbGki0CKdsYAi6PvqKHg6zi2E3bh8N162f4IEkKKHDuMXruBIg"
					},
					"startTime": {
						"type": "int",
						"defaultValue": 1662004800
					},
					"endTime": {
						"type": "int",
						"defaultValue": 1738558799
					},
					"batch_size": {
						"type": "int",
						"defaultValue": 5
					},
					"matchType": {
						"type": "string",
						"defaultValue": "ranked"
					},
					"api_key": {
						"type": "string",
						"defaultValue": "RGAPI-776b6106-471b-482c-8ed7-213589dde293"
					}
				},
				"variables": {
					"AggregatedMatchData": {
						"type": "Array"
					},
					"MatchIDArray": {
						"type": "Array"
					},
					"newMatchIdArray": {
						"type": "Array"
					},
					"AggregatedMatchId": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/riot_rest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('riot_rest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/match_data_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "match_data.json",
						"folderPath": "bronze/match_data",
						"container": "lolytics"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/match_data_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "riot_rest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"matchID": {
						"type": "string"
					},
					"api_key": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@{dataset().matchID}?api_key=@{dataset().api_key}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/riot_rest')]"
			]
		}
	]
}